.jumbotron {
    margin:10px;
    background-color: #d1d1d1;
}
.work {
    padding:30px;
    margin: 20px;
    height:100%
    border-style:solid;
    border-radius:15px;
}
.color-1 {
    background-color: #34e36e;
    border-color: #34e356;
}
.color-2 {
    background-color: #ed8c2b;
    border-color: #ed8c2b;
}
.small-margin {
    margin:10px;
}
#fullname {
    font-size: 55px;
}
.big-font {
    font-size:45px;
}
.boldify {
    font-weight:bold;
}
.font-12 {
    font-size: 12px;
}
.font-18 {
    font-size:18px;
}
.font-20 {
    font-size: 20px;
}
.font-26 {
    font-size: 26px;
}
.font-28 {
    font-size: 28px;
}
.align-centre {
    vertical-align: middle;
    padding:25px;
}
#profile_picture {
    width:100%;
    height:100%;
    vertical-align: middle;
    margin: auto;
    display: block;
    
}
.about-box {
    padding:30px;
    border-color:black;
    border-style:solid;
    
}
.img-flex {
    width:100%;
    height:100%;
}
.small-pad {
    margin:0px 0px;
}
.border-black {
    border:5px solid black;
}

.name-pad {
    font-size: 40px;
    padding: 1px 1px 10px 1px;
}
